<% works.each do |work| %>
  <% if work.user.is_active == true %>
    <div class="card mb-3 shadow">
      <div class="row no-gutters">
        <div class="col-md-4">
          <%= link_to work_path(work) do %>
            <%= image_tag work.get_main_image(400, 400), class:"img-fluid rounded" %>
          <% end %>
        </div>
        <div class="col-md-5 mh-100">
          <div class="card-body p-2 p-md-4">
            <h5 class="card-title mb-0"><%= work.title %></h5>
            <span class="font-weight-light">
              <%= render 'public/tags/list', tags: work.tags.first(3) %>
              <% if work.tags.count >= 3 %>
                ...
              <% end %>
            </span>
            <p class="card-text"><%= work.caption %></p>
            <div class="d-flex text-truncate">
              <%= link_to user_path(work.user), class:"text-dark" do %>
                <i class="fa-solid fa-user"></i> | <strong><%= work.user.name %></strong>
              <% end %>
              <div class="follow_btn_<%= work.user.id %>">
                <%= render 'public/relationships/btn', user: work.user %>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card-body p-2 p-md-4">
            <div class="d-flex">
              <div id="like_btn_<%= work.id %>" class="mr-2">
                <%= render 'public/likes/btn', work: work %>
              </div>
              <div id="report_work_btn_<%= work.id %>">
                <%= render 'public/reports/work_btn', work: work %>
              </div>
            </div>
          </div>
          <div class="p-2 p-md-4">
            <p class="card-text"><small class="text-muted">投稿日：<%= work.created_at.strftime('%Y/%m/%d') %></small></p>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
<%= paginate works %>