<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render 'public/users/info', user: current_user %>
      <%= render 'public/tags/index', tags: @tags %>
    </div>
    <div class="col-md-8 offset-md-1">
      <h2>作品一覧</h2>
      <span>
        <%= link_to '新着順', works_path, class:"text-secondary" %> | 
        <%= link_to '最近のいいね数順', works_path(trend: true), class:"text-secondary" %>
      </span>
      <%= render 'index', works: @works %>
    </div>
  </div>
</div>