<div class="container">
  <div class="row">
    <div class="col-md-6 m-auto shadow rounded p-0 border">
      <h2 class="text-center p-2 bg-secondary text-light rounded-top">投稿する</h2>
      <div class="p-4">
        <%= form_with model: @work do |f| %>
          <div class="form-group">
            <%= f.label :title, "タイトル" %>
            <%= f.text_field :title, class:"form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :caption, "紹介文" %>
            <%= f.text_area :caption, class:"form-control", rows:5 %>
          </div>
          <div class="form-group">
            <%= f.label :main_image, "表紙" %>
            <%= f.file_field :main_image, class:"form-control-file", accept: "image/*" %>
          </div>
          <div class="form-group">
            <%= f.label :sub_images, "画像（複数選択可）" %>
            <%= f.file_field :sub_images, class:"form-control-file", accept: "image/*", multiple: true %>
          </div>
          <%= f.submit "投稿する" %>
        <% end %>
      </div>
    </div>
  </div>
</div>