<div class="container">
  <div class="row">
    
    <div class="col-md-3">
      <%= render 'public/users/info', user: current_user %>
      <%= render 'public/tags/index', tags: @tags %>
    </div>
    
    <div class="col-md-7 offset-md-1">
      <%= render 'slide', work: @work %>
      <div class="card my-2 p-3">

        <div class="card-text">
          <%= link_to user_path(@work.user), class:"text-dark" do %>
            <%= image_tag @work.user.get_profile_image(40,40), class:"rounded-circle mr-2" %>
            <strong><%= @work.user.name %></strong>
          <% end %>
        </div>

        <div class="text-right" id="like_btn_<%= @work.id %>">
          <%= render 'public/likes/btn', work: @work %>
        </div>

        <div class="card-title">
          <h5><%= @work.title %></h5>
          <span class="font-weight-light">
            <%= render 'public/tags/list', tags: @work.tags %>
          </span>
        </div>

        <div class="card-text">
          <%= simple_format(@work.caption, class:"m-0") %>
        </div>

      </div>

      <div>
        <%= render 'public/comments/form', work: @work %>
      </div>
      <div>
        <%= render 'public/comments/index', comments: @work.comments, work: @work %>
      </div>

    </div>
  </div>
</div>