<% chats.each do |chat| %>
  <% if chat.user == current_user %>
    <div class="d-flex">
      <small class="text-muted mt-auto ml-auto"><%= chat.created_at.strftime('%Y/%m/%d') %></small>
      <div class="card ml-2 my-1 p-1">
        <%= chat.message %>
      </div>
      <div>
        <%= image_tag chat.user.get_profile_image(30,30), class:"rounded-circle my-1 ml-1" %>
      </div>
    </div>
  <% else %>
    <div class="d-flex">
      <div>
        <%= image_tag chat.user.get_profile_image(30,30), class:"rounded-circle my-1 mr-1" %>
      </div>
      <div class="card my-1 p-1 mr-2">
        <%= chat.message %>
      </div>
      <small class="text-muted mt-auto mr-2"><%= chat.created_at.strftime('%Y/%m/%d') %></small>
      <div id="report_chat_btn_<%= chat.id %>" class="mt-auto">
        <%= render 'public/reports/chat_btn', chat: chat %>
      </div>
    </div>
  <% end %>
<% end %>