<div class="container">
  <div class="row">
    <div class="col-md-6 col-10 m-auto shadow rounded p-0">
      <h2 class="bg-success py-3 text-light text-center">新規ユーザー登録</h2>
      <p class="my-3 text-center">名前、メールアドレスとパスワードを入力してください</p>
      <div class="px-4">
        <%= form_with model: @user, url: user_registration_path, local: true do |f| %>

          <div class="input-group py-3">
            <div class="input-group-prepend">
              <div class="input-group-text"><i class="fa-solid fa-user"></i></div>
            </div>
            <%= f.text_field :name, autofocus: true, autocomplete: "name", class:"form-control", placeholder: "名前" %>
          </div>
        
          <div class="input-group py-3">
            <div class="input-group-prepend">
              <div class="input-group-text"><i class="fa-solid fa-envelope"></i></div>
            </div>
            <%= f.email_field :email, autocomplete: "email", class:"form-control", placeholder: "メールアドレス" %>
          </div>
          
          <div class="input-group py-3">
            <div class="input-group-prepend">
              <div class="input-group-text"><i class="fa-solid fa-lock"></i></div>
            </div>
            <%= f.password_field :password, autocomplete: "new-password", class:"form-control", placeholder: "パスワード" %>
          </div>

          <div class="input-group pt-3">
            <div class="input-group-prepend">
              <div class="input-group-text"><i class="fa-solid fa-circle-check"></i></div>
            </div>
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control", placeholder: "パスワード確認" %>
          </div>
        
          <% if devise_mapping.rememberable? %>
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end %>
        
          <%= f.submit "登録", class:"btn btn-success my-3" %>
        
        <% end %>
        
        <%= render "public/shared/links" %>
      </div>
    </div>
  </div>
</div>