<div class="card container p-0 m-0 shadow">
  
  <div class="row no-gutters">
    <div class="col-md-5 col-3">
      <%= link_to user_path(user) do %>
        <%= image_tag user.get_profile_image(70,70), class:"rounded-circle p-2" %>
      <% end %>
    </div>
    <div class="col-md-7 col-9 p-1">
      <div class="text-right">
        <% if user == current_user && user.not_guest %>
          <%= link_to edit_user_path(user), class:"text-secondary" do %>
            <i class="fa-solid fa-gear"></i>
          <% end %>
        <% else %>
        <!--幅調整用-->
          <div class="py-3"></div>
        <% end %>
      </div>
      <div>
        <%= link_to user_path(user), class:"text-dark" do %>
          <h5><%= user.name %></h5>
        <% end %>
      </div>
    </div>
  </div>
  <div class="text-center d-flex px-3 pb-2">
    <div class="follow_btn_<%= user.id %>">
      <%= render 'public/relationships/btn', user: user %>
    </div>
    <%= render 'public/chats/btn', user: user %>
  </div>
  
  <button class="btn btn-link d-md-none text-right text-secondary" type="button" data-toggle="collapse" data-target="#user-info" aria-expanded="false">
    <i class="fa-solid fa-caret-down"></i>
  </button>
  <div class="collapse d-md-block" id="user-info">
    <table class="table table-borderless text-center border-top">
      <tr>
        <th>フォロー中</th>
        <td>
          <%= link_to user_followings_path(user) do %>
            <%= user.followings.count %>
          <% end %>
        </td>
      </tr>
      <tr>
        <th>フォロワー</th>
        <td>
          <%= link_to user_followers_path(user) do %>
            <%= user.followers.count %>
          <% end %>
        </td>
      </tr>
      <tr>
        <th>いいね</th>
        <td>
          <%= link_to user_likes_path(user) do %>
            <%= user.likes.count %>
          <% end %>
        </td>
      </tr>
      <% if user == current_user %>
        <tr>
          <th>通知</th>
          <td>
            <%= link_to notifications_path do %>
              <% if user.have_unread_notification? %>
                <p class="text-danger m-0">未読あり</p>
              <% else %>
                <p class="m-0">新着なし</p>
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
  
</div>