<div class="card container p-0 m-0 shadow">
  
  <div class="d-flex">
    <div>
      <%= link_to user_path(user) do %>
        <%= image_tag user.get_profile_image(70,70), class:"rounded-circle p-2" %>
      <% end %>
    </div>
    <div class="w-100 p-1">
      <div class="text-right">
        <%= link_to edit_user_path(user), class:"text-secondary" do %>
          <i class="fa-solid fa-gear"></i>
        <% end %>
      </div>
      <div>
        <%= link_to user_path(user), class:"text-dark" do %>
          <h5 class="m-2"><%= user.name %></h5>
        <% end %>
      </div>
    </div>
  </div>
  <div class="border-bottom text-center d-flex px-3 pb-2">
    <div class="follow_btn_<%= user.id %>">
      <%= render 'public/relationships/btn', user: user %>
    </div>
    <%= render 'public/chats/btn', user: user %>
  </div>
  <table class="table table-borderless text-center">
    <tr>
      <th>フォロー中</th>
      <td>
        <%= link_to user_followings_path(user) do %>
          <%= user.followings.count %>
        <% end %>
      </td>
    </tr>
    <tr>
      <th>フォロワー</th>
      <td>
        <%= link_to user_followers_path(user) do %>
          <%= user.followers.count %>
        <% end %>
      </td>
    </tr>
    <tr>
      <th>いいね</th>
      <td>
        <%= link_to user_likes_path(user) do %>
          <%= user.likes.count %>
        <% end %>
      </td>
    </tr>
    <tr>
      <th>通知</th>
      <td></td>
    </tr>
  </table>
  
</div>