<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render 'info', user: @user %>
      <%= render 'public/tags/index', tags: @tags %>
    </div>
    <div class="col-md-8 offset-md-1">
      <h3>投稿作品</h3>
      <% @works.each do |work| %>
        <div class="card mb-3 w-100 shadow work-list">
          <div class="row no-gutters">
            <div class="col-md-4">
              <%= image_tag work.get_main_image(200, 200), class:"img-fluid" %>
            </div>
            <div class="col-md-5 mh-100">
              <div class="card-body">
                <h5 class="card-title mb-0"><%= work.title %></h5>
                <span class="font-weight-light">
                  <%= render 'public/tags/list', tags: work.tags.first(4) %>
                  <% if work.tags.count >= 5 %>
                    ...
                  <% end %>
                </span>
                <p class="card-text"><%= work.caption %></p>
                <p>
                  <%= link_to '詳細', work_path(work), class:"text-link mx-1" %>|
                  <%= link_to '編集', edit_work_path(work), class:"text-link mx-1" %>|
                  <%= link_to '削除', work_path(work), method: :delete, class:"text-danger mx-1" %>
                </p>
              </div>
            </div>
            <div class="col-md-3">
              <div class="card-body">
                <p class="car-text"><small>
                いいね：<%= work.likes.count %></br>
                コメント数：<%= work.comments.count %></br>
                </small></p>
                <p class="card-text"><small class="text-muted">投稿日：<%= work.created_at.strftime('%Y/%m/%d') %></small></p>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>