<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render 'info', user: @user %>
      <% if @user.introduction.present? %>
        <div class="card my-3 p-3 shadow">
          <div class="card-title">
            <h5><strong>自己紹介</strong></h5>
          </div>
          <div class="card-text">
            <%= simple_format(@user.introduction) %>
          </div>
        </div>
      <% end %>
      <%= render 'public/tags/index', tags: @tags %>
    </div>
    <div class="col-md-8 offset-md-1">
      <h2><%= @user.name %>さんの投稿作品</h2>
      <%= render 'public/works/index', works: @user.works %>
    </div>
  </div>
</div>